*
.*

!README.md
!requirements.txt
!.gitignore

!src/
!src/**

!results/
!results/figures/
!results/figures/*.png
!results/figures/*.jpg
!results/figures/*.pdf

src/results/
results/checkpoints/
results/data/
results/outputs/

**/.DS_Store
**/*.py[cod]
**/*.log
.DS_Store
